<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!--  IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame-->
		<link href="{{ url_for('static', filename='css/ame.css') }}" rel="stylesheet">
		<meta name="description" content="东北林业大学漏洞管理平台">
		<meta http-equiv="keywords" content="东林,漏洞,平台,管理,东北林业大学">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>{{ title }}</title>
		<link rel="shortcut icon" href="https://www.nefu.edu.cn//favicon.ico" type="image/x-icon" />
        <link rel="icon" href="https://www.nefu.edu.cn//favicon.ico" type="image/x-icon" />
	</head>


<body>
	<header class="am-topbar am-g am-g-collapse">
		<div class="am-container">
			<div class="am-u-sm-centered">
				<h1 class="am-topbar-brand">
					<a href="/">东林漏洞报告平台</a>
                </h1>
				<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
					<ul class="am-nav am-nav-pills am-topbar-nav">
						<li class="am-active"><a href="test.html">首页</a></li>
						<!--<li ><a href="/list/">公告</a></li>  -->
						<li ><a href="/paihang/">排行榜</a></li>
						<li ><a href="/introduction/">关于</a></li>
					</ul>
					<li class="am-btn am-btn-cebian cebian" data-am-offcanvas="{target: '#doc-oc-demo3'}">公告</li>
					<!-- 侧边栏内容 -->
					<div id="doc-oc-demo3" class="am-offcanvas">
						<div class="am-offcanvas-bar am-offcanvas-bar-flip">
							<div class="am-offcanvas-content">
								<p>我不愿让你一个人 <br/>承受这世界的残忍 <br/>我不愿眼泪陪你到 永恒 <br/></p>
								<p><a href="http://music.163.com/#/song?id=385554" target="_blank">网易音乐</a>      </p>
							</div>
						</div>
					</div>
					<div class="am-topbar-right">
						<a class="am-btn am-btn-primary am-topbar-btn am-btn-sm" href="login.html">登录</a>
					</div>
					<div class="am-topbar-right">
                    <a class="am-btn am-btn-secondary am-topbar-btn am-btn-sm" href="/register/">注册</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="main-body">
		<div class="main-content">

			<div class="am-news">
				<div class="am-container">
					<div style="height:30px;width:30px;display:inline-block;">
					<img class="am-image-notice" src="static/img/notice.jpg"/>
					</div>
					<div class="am-news-voice">
						<span style="font-weight:bold" >公告:</span>
					</div>
					<ul class="newsticker" style="height:22px;overflow:hidden;">
						<li>同一学校公告处泄漏身份证等敏感信息，视情况只收前一到三个。</li>
						<li>同一学校MemCache未授权访问，只收前三个ip，其它ip存在该问题的均算重复。</li>
						<li>教育行业漏洞报告平台Beta白帽子问题交流与反馈QQ群:173990329。</li>
						<li>近期某通用型建站系统高危漏洞被曝出，针对白帽子批量提交的情况，平台将酌情降低相关漏洞的等级与分值。</li>
						<li>同一单位多处同类型漏洞，请打包提交，方便校方进行对接和统一处理。</li>
						<li>平台暂时只接收现有单位的安全问题，对范围之外的漏洞将暂时做忽略处理。</li>
						<li>漏洞提交规范：标题和简要描述中请规避敏感信息。内容详情部分请务必填写必要的文字说明、利用过程和证明截图。</li>
						<li>针对近期白帽子反映的平台上大量单位存在域传送漏洞，我们及时进行了收集、整理，现已全部覆盖所有单位的检测，所以平台近期不再接收此类漏洞。</li>
					</ul>
				</div>
			</div>
			<div class="am-container">
				<div class="am-g">
					<div class="am-u-sm-centered am-u-sm-11">
						<h2>最新漏洞</h2>
						<table class="am-table minos-list am-text-sm am-table-bordered am-table-hover am-scrollable-horizontal">
							<tr class="null am-primary">
								<td width="" class="am-text-center am-hide-sm-down">时间</td>
								<td width=""class="am-text-center am-hide-sm-down">标题</td>
								<td width="" class="am-text-center am-hide-sm-down">等级</td>
								<td width="" class="am-text-center">组织</td>
								</tr>




{% for vuln in vulns %}
    <tr class="row">
        <td class="am-text-center am-hide-sm-down">{{ vuln.publish_date }}</td>
        <td class="am-text-center am-hide-sm-down">{{ vuln.title }}</td>
        <td class="am-text-center am-hide-sm-down">
            <span class="am-badge am-badge-danger">{{ vuln.rank }}</span>
        </td>
        <td class="am-text-center">{{ vuln.organization }}</td>
    </tr>
{% endfor %}



 </table>
				</div>
				</div>
				</div>
			<div class="main-footer">
				2019 © 联系邮箱：<a href="">aaaaaaaaaaaa</a><br>
			</div>
		</div>
	</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/js/amazeui.min.js"></script>
	    <script src="static/js/jquery.newsTicker.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="./jquery.newsTicker.min.js"></script>
</body>
</html>